[SimpleSyntax:V1.0]

Name: Ruby
Icon: simplesyntax_ruby.png
Description: Ruby Script File
ExampleCode: simplesyntax_ruby.rb

# Braces Configuration
Braces.Pairs: (),[]
Braces.Structural: {}

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: simplesyntax_ruby.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Configuration
ruby  BLOCK_COMMENTS                => tags/BLOCK_COMMENTS.rb
regex LINE_COMMENTS                 => (?m)#.*$
regex DOC_COMMENTS                  => (?ms)^=begin[ \t]*$.*^=end\s*$
ruby  SPECIAL_QUOTED_STRINGS        => tags/SPECIAL_QUOTED_STRINGS.rb
regex SINGLE_QUOTED_STRINGS         => \'(?:[^\']|\\')*\'
regex DOUBLE_QUOTED_STRINGS         => \"(?:[^\"]|\\")*\"
ruby  OPERATORS                     => tags/OPERATORS.rb
ruby  KEYWORDS                      => tags/KEYWORDS.rb
ruby  CORE_FUNCTIONS                => tags/CORE_FUNCTIONS.rb
regex CLASS_NAMES                   => (?:\p{javaUpperCase}\p{javaLowerCase}+)+
regex CLASS_VARIABLE                => @@[\p{javaLowerCase}_]+
regex INSTANCE_VARIABLE             => @[\p{javaLowerCase}_]+
regex IDENTIFIERS                   => [\p{javaLowerCase}_]+

# Element Descriptions
descriptions[ BLOCK_COMMENTS ] = Block comment
descriptions[ LINE_COMMENTS ] = Line comment
descriptions[ DOC_COMMENTS ] = Documentation
descriptions[ SPECIAL_QUOTED_STRINGS ] = Special Quoted String
descriptions[ SINGLE_QUOTED_STRINGS ] = Single Quoted String
descriptions[ DOUBLE_QUOTED_STRINGS ] = Double Quoted String
descriptions[ OPERATORS ] = Operator
descriptions[ KEYWORDS ] = Keyword
descriptions[ CORE_FUNCTIONS ] = Core Function
descriptions[ CLASS_NAMES ] = Class Name
descriptions[ CLASS_VARIABLE ] = Class Variable
descriptions[ INSTANCE_VARIABLE ] = Instance Variable
descriptions[ IDENTIFIERS ] = Identifier

# Element Default Attributes
attributes[ BLOCK_COMMENTS ] = #801080,BOLD,ITALIC
attributes[ LINE_COMMENTS ] = #108010,BOLD
attributes[ DOC_COMMENTS ] = #5050A0,BOLD,ITALIC
attributes[ SPECIAL_QUOTED_STRINGS ] = #105010,BOLD
attributes[ SINGLE_QUOTED_STRINGS ] = #105010,BOLD
attributes[ DOUBLE_QUOTED_STRINGS ] = #105010,BOLD
attributes[ KEYWORDS ] = #1010D0,BOLD
